{% extends 'base_customer.html' %}
{% load static %}

{% block title %}RBL Shop Catalog{% endblock %}

{% block content %}
<main>
    <div class='product-details-container'>
        <div class="product-image">
            <img src="{% static 'images/oilfilter.png' %}" alt="">
        </div>
        <div class="product-details">
            <h2>FC-158 Fuel Filter</h2>
            <p>VIC</p>
            <hr>
            <h3>₱1,200.00</h3>
            <p><strong>Stock:</strong>10</p>
            <form method="POST" action="">
                <input type="hidden" name="product_id" value="">
                <div>
                    <label for="quantity">Quantity:</label>
                        <input type="number" required>
                </div>
                <button type="submit" name="add_to_cart">Add to Cart</button>
            </form>
            <hr>
            <h2>Description</h2>
            <p>A heavy-duty diesel engine oil specifically designed to lubricate turbocharged and naturally aspirated diesel engines that require API CD performance lubricants in price sensitive markets or in conditions that require frequent oil changes.</p>
        </div>
    </div>
</main>
{% endblock %}