{% load static %}
<!DOCTYPE html>
<html lang ="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="header-container">
        <div class="header-inside">
            <div class="header-logo"><img src="{% static 'images/TemporaryLogo.png' %}" alt="Logo" class="logo"></div>
        </div>
    </div>
</header>
<main>
    <div class="login-container-container">
        <div class="login-container">
            <h2>User Login</h2>
            <p>Welcome back!</p>
            <p>Please login to your account below.</p>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <label for="username">Username or Email:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                {% if form.errors %}
                    <p style="color: red; font-size: 0.9rem; margin-bottom: 1rem;">
                        Invalid username or password. Please try again.
                    </p>
                {% endif %}

                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
        </div>
    </div>
</main>
<footer>
    <p>&copy; 2026 RBL.</p>
</footer>
</body>
</html>