{% extends 'base_customer.html' %}
{% load static %}

{% block title %}RBL Shop Home{% endblock %}

{% block content %}

<div class="hero-section">
    <img src="{% static 'images/Landing-Image.png' %}" alt="Landing Page Image" class="landing-image">
</div>
<main>
    <div class="category-container">
        <div class="category-box">
            <h1>Engine Parts</h1>
            <p>Explore our wide range of car engine parts to enhance your vehicle's performance.</p>
            <a href="{% url 'catalog' %}?category=6"><button>Shop Parts & Accessories</button></a>
        </div>
        <div class="category-box">
            <h1>Tires</h1>
            <p>Discover our selection of high-quality tires to give your car a fresh new look and improved handling.</p>
            <a href="{% url 'catalog' %}?category=4"><button>Shop Tires</button></a>
        </div>
        <div class="category-box">
            <h1>Fluids & Lubricants</h1>
            <p>Find the best car care products to keep your vehicle looking its best, inside and out.</p>
            <a href="{% url 'catalog' %}?category=5"><button>Shop Fluids & Lubricants</button></a>
        </div>
    </div>
    
    <div class="divider">
        <h1>Shop by Parts</h1>
        <div class="category-grid">
            <div class="category-cell">
                <h1>Batteries</h1>
                <a href="{% url 'catalog' %}?category=1">
                    <img src="{% static 'images/Batteries.jpg' %}" alt="Batteries">
                </a>
            </div>
            <div class="category-cell">
                <h1>Tires</h1>
                <a href="{% url 'catalog' %}?category=4">
                    <img src="{% static 'images/Tires.png' %}" alt="Tires">
                </a>
            </div>
            <div class="category-cell">
                <h1>Engine Parts</h1>
                <a href="{% url 'catalog' %}?category=6">
                    <img src="{% static 'images/engine parts.jpg' %}" alt="Engine Parts">
                </a>
            </div>
            <div class="category-cell">
                <h1>Fluids & Lubricants</h1>
                <a href="{% url 'catalog' %}?category=5">
                    <img src="{% static 'images/Fluids.png' %}" alt="Fluids">
                </a>
            </div>
            <div class="category-cell">
                <h1>Brakes</h1>
                <a href="{% url 'catalog' %}?category=2">
                    <img src="{% static 'images/Brakes.png' %}" alt="Brakes">
                </a>
            </div>
             <div class="category-cell">
                <h1>Electrical</h1>
                <a href="{% url 'catalog' %}?category=3">
                    <img src="{% static 'images/electrical.png' %}" alt="Electrical">
                </a>
            </div>
        </div>
    </div>
    
    <div class="divider">
        <h1>Shop by Brands</h1>
        <div class="category-grid">
            <div class="category-cell">
                <a href="{% url 'catalog' %}?brand=4">
                    <img src="{% static 'images/Motolite.png' %}" alt="Motolite">
                </a>
            </div>
            <div class="category-cell">
                <a href="{% url 'catalog' %}?brand=2">
                    <img src="{% static 'images/Caltex.png' %}" alt="Caltex">
                </a>
            </div>
            <div class="category-cell">
                <a href="{% url 'catalog' %}?brand=1">
                    <img src="{% static 'images/Arisun.png' %}" alt="Arisun">
                </a>
            </div>
            <div class="category-cell">
                <a href="{% url 'catalog' %}?brand=7">
                    <img src="{% static 'images/GtRadial.png' %}" alt="GT Radial / JT Tunggal">
                </a>
            </div>
            <div class="category-cell">
                <a href="{% url 'catalog' %}?brand=3">
                    <img src="{% static 'images/VIC.jpeg' %}" alt="VIC">
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock %}