{% extends 'base_customer.html' %}
{% load static %}

{% block title %}RBL Shop Catalog{% endblock %}

{% block content %}
<main>
    <div class='product-details-container'>
        <div class="product-image">
            {% if product.image_path %}
                <img src="{{ product.image_path.url }}" alt="{{ product.product_name }}">
            {% else %}
                <img src="{% static 'images/oilfilter.png' %}" alt="Placeholder">
            {% endif %}
        </div>
        <div class="product-details">
            <h2>{{ product.product_name }}</h2>
            <p>{{ product.brand.brand_name }}</p>
            <hr>
            <h3>{{ product.product_name }}</h3>
            {% if product.quantity > 0 %}
                <p><strong>Stock:</strong> {{ product.quantity }} available</p>
            {% else %}
                <p style="color: red;"><strong>Out of Stock</strong></p>
            {% endif %}
            <form method="POST" action="{% url 'add_to_cart' %}">
                {% csrf_token %}
                
                <input type="hidden" name="product_id" value="{{ product.id }}">
                
                <div class="quantity">
                    <button type="button" class="minus">−</button>
                    <input type="number" value="1" min="1" max="{{ product.quantity }}" name="quantity" id="quantity" required>     
                    <button type="button" class="plus">+</button>
                </div>
                
                <button type="submit" name="add_to_cart">Add to Cart</button>
            </form>
            <hr>
            <h2>Description</h2>
            <p>{{ product.description }}</p>
        </div>
    </div>
</main>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const minusBtn = document.querySelector('.minus');
    const plusBtn = document.querySelector('.plus');
    const qtyInput = document.getElementById('quantity');

    if (minusBtn && plusBtn && qtyInput) {
        minusBtn.addEventListener('click', () => {
            let currentValue = parseInt(qtyInput.value);
            let min = parseInt(qtyInput.min);
            if (currentValue > min) {
                qtyInput.value = currentValue - 1;
            }
        });

        plusBtn.addEventListener('click', () => {
            let currentValue = parseInt(qtyInput.value);
            let max = parseInt(qtyInput.max);
            if (currentValue < max) {
                qtyInput.value = currentValue + 1;
            }
        });
    }
});
</script>
{% endblock %}